In [48]:
import pandas as pd
import numpy as np
import cv2
import os
from sklearn.model_selection import train_test_split

In [49]:
DIR_INPUT = '/kaggle/input/global-wheat-detection'
DIR_INPUT = "../data"
DIR_TRAIN = f'{DIR_INPUT}/train'
DIR_TEST = f'{DIR_INPUT}/test'

locations = ['arvalis_1', 'arvalis_2', 'arvalis_3', 'inrae_1', 'usask_1', 'rres_1', 'ethz_1']

In [50]:
train_df = pd.read_csv(f"{DIR_INPUT}/train.csv")
train_df = pd.read_csv(f"{DIR_INPUT}/fixed_train.csv")

locations = train_df['source'].unique()
locations

array(['usask_1', 'arvalis_1', 'inrae_1', 'ethz_1', 'arvalis_3', 'rres_1',
       'arvalis_2'], dtype=object)

In [51]:
train_df.head()

    image_id  width  height                         bbox   source
0  b6ab77fd7   1024    1024   [834.0, 222.0, 56.0, 36.0]  usask_1
1  b6ab77fd7   1024    1024  [226.0, 548.0, 130.0, 58.0]  usask_1
2  b6ab77fd7   1024    1024  [377.0, 504.0, 74.0, 160.0]  usask_1
3  b6ab77fd7   1024    1024  [834.0, 95.0, 109.0, 107.0]  usask_1
4  b6ab77fd7   1024    1024  [26.0, 144.0, 124.0, 117.0]  usask_1

In [52]:
image_ids = train_df['image_id'].unique()
len(image_ids)

3373

In [53]:
train_df.groupby(train_df['source'])['image_id'].value_counts()

source     image_id
arvalis_1  134d4a01c    101
           4cf91995d     97
           a06241eb3     95
           a119a31fb     95
           ab026459d     93
                       ...
usask_1    a76ca8630      9
           bff5440bc      9
           8f05b9e06      8
           be5ba0745      8
           c3c03e0b7      8
Name: image_id, Length: 3373, dtype: int64

In [54]:
for num in range(len(locations)):
    train_df_ = train_df[train_df['source'] == locations[num]]
    image_ids = train_df_['image_id'].unique()    
    print(f'location: {locations[num]}, unique images: {len(image_ids)}')

location: usask_1, unique images: 200
location: arvalis_1, unique images: 1055
location: inrae_1, unique images: 176
location: ethz_1, unique images: 747
location: arvalis_3, unique images: 559
location: rres_1, unique images: 432
location: arvalis_2, unique images: 204

In [55]:
3373*0.2

674.6

In [56]:
# fold 0 arvalis_3 + arvalis_1 part
train_df['fold'] = -1
train_df['fold'][train_df['source'] == 'arvalis_3'] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
train_df_ = train_df[train_df['source'] == 'arvalis_1']
image_ids = train_df_['image_id'].unique()   

_, X_test = train_test_split(image_ids, test_size=(675-559), random_state=42)
len(X_test)

array(['16b77f4c7', '35d6a4509', '3dd22103f', 'e2251ed47', '8a7d9b4b0',
       '45a6506a3', 'cf870354f', '6a4d4d9bd', '58ce0381b', '82890548b',
       'b6a159fd4', '2dfd889a2', '2d159a876', 'e92e52948', 'fda86ae9a',
       '9ddb20382', '0126b7d11', '793ef2974', '08568d66f', 'ecad4b636',
       'b0a32bf24', '768a74e08', '701fdbf87', '8c627af48', '1bc14c658',
       'a6c1cc190', '2ed94451a', 'ff1716939', 'e38514029', '76f679a5c',
       '250483997', '241bbc684', '57a45fde6', '82f88bab4', 'd0e1c00bf',
       'b6df6691b', 'f4ce08038', '119969932', '518f35565', '03ad2a35c',
       '53099e7e0', 'a7436f5c7', 'f65604566', 'fc8cf268b', 'afe4fd4f5',
       'd03bcfba1', '29f8a1f30', '12b724773', 'dfbc049cd', 'a700357af',
       'ac9e20f82', '8f54c057d', '80111be66', 'f059e0c19', '5a0e2133c',
       '8e862faf8', 'eba411885', '8f06b77e5', '7fd1d7a57', '2c39acc31',
       '4e06d497b', '33f469471', '134d4a01c', '9c0466c9f', '3d1c7f78a',
       '199350a76', '4cbb2b7bd', '0a181bbb4', '1dbc99ed8', '8c4bdc8ba',
       '58cef5c6c', '868b0ff7e', '8b9adf007', '03173a1a5', '5a61c3e15',
       'aa7eba834', '62ec8d906', '1696dab5e', '284a79f05', '24dda66d6',
       '1d7d9fda3', '6af5a0a2b', '80dbba8a7', 'e98b9f03a', '79964dffd',
       '9f5a0c829', '744ea960b', 'd623a5d12', '4f9eceb2b', 'ad94558cf',
       '682f78993', '2d6b777d8', '7d6074b93', 'f1aaca96f', '443cc36d2',
       '9ebdbabff', '530a756df', 'b1cf5e43c', '6df511e97', '19b035d25',
       'fe5c1ea5a', '41630f18f', 'e4b7e3af6', 'f7b557230', 'ceb6406ab',
       '8fb545c05', 'a245ab7f9', 'ac8eb0616', '44b73b40d', '546a0e9fc',
       'b900ef546', 'b0833ce3d', '5ab074c28', '2041a2d49', '40f547633',
       'a119a31fb'], dtype=object)

In [84]:
train_df.loc[train_df['image_id'].isin(X_test), 'fold'] = 0
train_df.loc[train_df['image_id'].isin(X_test), 'fold'].head()

6231    0
6232    0
6233    0
6234    0
6235    0
Name: fold, dtype: int64

In [85]:
train_df[train_df['source'] == 'arvalis_3'].head()

,image_id,width,height,bbox,source,fold
106656,aadb83e1d,1024,1024,"[919.0, 33.0, 105.0, 105.0]",arvalis_3,0
106657,aadb83e1d,1024,1024,"[568.0, 17.0, 95.0, 187.0]",arvalis_3,0
106658,aadb83e1d,1024,1024,"[739.0, 501.0, 154.0, 85.0]",arvalis_3,0
106659,aadb83e1d,1024,1024,"[286.0, 949.0, 100.0, 75.0]",arvalis_3,0
106660,aadb83e1d,1024,1024,"[657.0, 660.0, 141.0, 172.0]",arvalis_3,0

In [86]:
imgs = train_df['image_id'][train_df['fold'] == 0].unique()
len(imgs)

675

In [90]:
# fold 1 rres_1, arvalis_2 and arvalis_1 part
train_df['fold'][train_df['source'] == 'rres_1'] = 1
train_df['fold'][train_df['source'] == 'arvalis_2'] = 1

_, X_test = train_test_split(image_ids, test_size=(675-432-204), random_state=42)
len(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

39

In [91]:
train_df.loc[train_df['image_id'].isin(X_test), 'fold'] = 1
imgs = train_df['image_id'][train_df['fold'] == 1].unique()
len(imgs)

675

In [92]:
# fold 2 ethz_1 almoust all
train_df_ = train_df[train_df['source'] == 'ethz_1']
image_ids = train_df_['image_id'].unique()  

_, X_test = train_test_split(image_ids, test_size=(675), random_state=42)
len(X_test)

675

In [93]:
train_df.loc[train_df['image_id'].isin(X_test), 'fold'] = 2
imgs = train_df['image_id'][train_df['fold'] == 2].unique()
len(imgs)

675

In [ ]:
train_df.to_csv('')

In [ ]:
def make_folds(train_df: pd.DataFrame) -> pd.DataFrame:
    """
    Alex folds
    """
    bboxs = np.stack(train_df['bbox'].apply(lambda x: np.fromstring(x[1:-1], sep=',')))
    for i, column in enumerate(['x', 'y', 'w', 'h']):
        marking[column] = bboxs[:,i]
    marking.drop(columns=['bbox'], inplace=True)
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

    df_folds = marking[['image_id']].copy()
    df_folds.loc[:, 'bbox_count'] = 1
    df_folds = df_folds.groupby('image_id').count()
    df_folds.loc[:, 'source'] = marking[['image_id', 'source']].groupby('image_id').min()['source']
    df_folds.loc[:, 'stratify_group'] = np.char.add(
        df_folds['source'].values.astype(str),
        df_folds['bbox_count'].apply(lambda x: f'_{x // 15}').values.astype(str)
    )
    df_folds.loc[:, 'fold'] = 0

    for fold_number, (train_index, val_index) in enumerate(skf.split(X=df_folds.index, y=df_folds['stratify_group'])):
        df_folds.loc[df_folds.iloc[val_index].index, 'fold'] = fold_number

    return df_folds